<h1>
  {{ route.component.name }}
</h1>
<ul>
  <li>'route object ', {{ route.path }} </li>
  <li>'params ', {{ route.params  }}</li>
  <li>'paramMap ', {{ route.paramMap  }}</li>
  <li>'data ', {{ route.data  }}</li>
  <li>'queryParams ', {{ route.queryParams  }}</li>
  <li>'queryParamMap ', {{ route.queryParamMap  }}</li>
  <li>'pathFromRoot ', {{ route.pathFromRoot  }}</li>
  <li>'routeConfig ', {{ route.routeConfig  }}</li>
  <li>'url ', {{ route.url  }}</li>
  <li>'toString', {{ route.toString() }} </li>
  <li>'Params: ', {{ routeQuery | json }}</li>
</ul>
